@charset "UTF-8";

$color-primary: #c74686;
$color-secondary: #84edff;
$color-wh: #fff;

$size-s: 0.5rem;
$size-m: 1rem;
$size-l: 2rem;
$size-xl: 3rem;

.new {
  &:before{
    content: 'new';
    background-color: $color-primary;
    border-radius: 5px;
    margin-right:5px;
  }
}