.site-main {
  position: flex;
  padding:0 50px;
  padding-top:140px;
  .section-top {
    display: flex;
    flex-direction: row;
    margin: 40px 40px;
    font-size: 2rem;
    min-width: 100%;
    max-height: fit-content;
    width: 100%;
    height:fit-content;
    align-items: flex-start;
    text-align: left;
    vertical-align: middle;
    padding:50px -50px 50px 50px;
    .top {
      display: flex;
      &__icon {
        display: flex;
        max-width: fit-content;
        height:100%;
        border:none;
        margin:auto 10px;
        justify-content: space-around;
      }
      &__news {
        .news-title {
          font-size:2.5rem;
          margin-bottom:10px;
          &:before {
            content: "";
            border-left: 6px solid #fff;
            font-size:0.6em;
            margin:10px 5px;
            padding-top:5px;
          }
        }
        .news-text {
          margin-bottom:20px;
          &__line { 
            margin-left: 20px;
            font-size:1.5rem;
            &:before {
              content: "";
              border-left: 4px solid #fff;
              font-size:0.6em;
              margin:10px 5px;
              padding-top:5px;
            }
          }
        }
        .news-date {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          min-width: fit-content;
          height:70%;
          font-size: 2.5rem;
          border-bottom: 3px solid #fff;
          padding-bottom:5px;
        }
      }
    }
  }
}