head
  - const title = indexDir ? '佐々木のホームページ' : pageConfig.title + ' | 佐々木のホームページ' ;
  title= title
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="description", content=meta.description)
  meta(name="keywords", content=meta.keywords)
  link(rel="icon", href= imgComDir + "favicon.png")
  script(src= jsDir + "common.js")
  block script
  link(rel="stylesheet", href= cssDir + "common.css")
  block style