block page-config

block config
  include config

doctype html
html(lang="ja")
  block head 
    include head
  body
    block header 
      include header
    block content
    block footer
      include footer