extends ./assets/html/layout

block page-config
  - 
    const pageConfig = {
        title: 'ホーム',
        description: 'test',
        keywords: 'keyword test'
    };
  - const indexDir = true;
  - const currentPage = 'top';

block style
  link(rel="stylesheet", href= cssDir + "top.css")

block script
  script(src= jsDir + "top.js")

block content
  main.site-main
    section.section.section-top
      .top
        .top__icon
          img(src= imgComDir + "sasaki.png", alt="sasaki")
        .top__news
          h2.news-title 佐々木のウェブサイトへようこそ！
          p.news-text 
            .news-text__line Twitter(X):
              a(class="news-link" href="https://x.com/sasa_ki____")  @sasa_ki____
          .new.news-date 2024.08.23
            