.site-main {
  .section-oekaki {
    .oekaki-list {
      margin-bottom: 20px;
      &__year {
        font-size:3rem;
        border-bottom:4px solid $color-wh;
        margin-bottom:50px;
      }
      &__box {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(200px, 300px) ) ;
        justify-content:center;
        gap:5px;
        transition:5ms;
        //bottomのgap
        .box-item {
          text-align:center;
          transition: 0.5s;
          :hover {
            transition: 0.5s;
            transform: scale(1.05);
          }
          img {
            height: 300px;
            width: auto;
            margin-bottom: 50px;
 
          }
        }
      }
    }
  }
}